@import "tailwindcss";
@plugin "daisyui";

.Toastify__toast {
    font-family: 'Outfit', sans-serif !important;
}

/* Hide scrollbar but keep scroll functionality */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and old Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}